#view tr td{
    text-align: center;
}

/* #view button{
    border: 8px ridge;
    background-color: rgb(44, 240, 119);
    font-size: larger;
    border-radius: 13em/3em;
} */

#view button{
    padding: 30px 30px;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 240, 119);
    border: 8px ridge;
    border-radius: 13em/3em;
    font-size: larger;
}

#view button.ocupado{
    background-color: rgb(245, 76, 76);
}

#view button.reservado{
    background-color: rgb(255, 255,0);
}